api.cacha-el-precio.com {
    @cors_preflight {
        method OPTIONS
    }

    header {
        Access-Control-Allow-Origin "https://www.cacha-el-precio.com"
        Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
        Access-Control-Allow-Headers "Content-Type, Authorization, X-Api-Version, X-Version, Version"
        Access-Control-Allow-Credentials "true"
        Access-Control-Max-Age "86400"
        Vary "Origin"
    }

    respond @cors_preflight 204

    reverse_proxy product-service:8081
}

:8080 {
    reverse_proxy product-service:8081
}